{% extends 'base.html.twig' %}

{% block title %}New ChickRecipient{% endblock %}

{% block body %}
    <h1>Create new ChickRecipient</h1>

    {{ include('chick_recipient/_form.html.twig') }}

    <a href="{{ path('chick_recipient_index') }}">back to list</a>
{% endblock %}
