{% extends 'base.html.twig' %}

{% block title %}New EggsInputDetails{% endblock %}

{% block body %}
    <h1>Create new EggsInputDetails</h1>

    {{ include('eggs_input_details/_form.html.twig') }}

    <a href="{{ path('eggs_input_details_index') }}">back to list</a>
{% endblock %}
